<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
             data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">ttt</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">ttt</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           </button>
          <a href="/" class="navbar-brand">Forum</a>
          </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="/auth/sign-up" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <form action="/post/category">
                    <li class="dropdown-header">Category</li>
                    <li class="active"> <input type="checkbox" name="category" value="Technology"> Technology</li>
                    <li> <input type="checkbox" name="category" value="Science"> Science</li>
                    <li> <input type="checkbox" name="category" value="Art"> Art</li>
                    <li> <input type="checkbox" name="category" value="Sports"> Sports</li>
                    <li> <input type="checkbox" name="category" value="Music"> Music</li>
                     <button type="sumbit" class="btn btn-primary">Search</button>
                  </form>
                </ul>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
    
            <li class="dropdown">
              <a href="/auth/sign-up" class="dropdown-toggle" data-toggle="dropdown">Guest <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Alem</li>
                    <li class="active"><a href="/auth/sign-in">Sign-in</a></li>
                    <li> <a href="/auth/sign-up">Sign-up</a></li>
              </ul>
            </li>
         
          </ul>
        </div>
        </div>
      </nav>
    <div class="container">
    <form role="form" action="/auth/sign-in" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email" required>
        </div>

        <div class="form-group">

            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Enter password" required>
            {{if .MsgError}}
            <p class="help-block">{{.MsgError}}</p>
            {{end}}
        </div>
    
        <button data-toggle="tooltip" title="Your password must be 8-20 characters long and consist of at least:1 lower case letter, 1 upper case letter, 1 number, 1 special symbol." data-placement="bottom" class="btn btn-success">Sign In</button>
        
        
        <a href="/auth/sign-in"Sign in></a>
    </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
